:root {
  --color-primary: #849d6a;
  --color-gray: #ebebeb;
}
@font-face {
  font-family: "lato-regular";
  src: url("./../fonts/Lato-Regular.ttf");
}
@font-face {
  font-family: "lato-bold";
  src: url("./../fonts/Lato-Bold.ttf");
}
@font-face {
  font-family: "b-traffic-regular";
  src: url("./../fonts/B-Traffic.ttf");
}
@font-face {
  font-family: "b-traffic-bold";
  src: url("./../fonts/B-Traffic.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: lato-regular;
}
body {
  font-size: 1.6rem;
  width: 95vw;
  margin: 0 auto;
}
.header {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  padding: 2.9rem 0.5rem;
  gap: 3.7rem;
  align-items: center;
  &__icons {
    display: flex;
    gap: 2.4rem;
    align-items: center;
    &--cart,
    &--heart,
    &--user {
      width: 2.4rem;
      height: 2.4rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &--cart,
    &--heart {
      position: relative;
      &::after {
        content: "3";
        width: 1.9rem;
        height: 1.9rem;
        background-color: var(--color-primary);
        border-radius: 50%;
        color: #fff;
        font-size: 1rem;
        font-family: b-traffic-regular;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -30%;
        left: -30%;
      }
    }
    &--heart::after {
      content: "2";
    }
  }
  &__search {
    display: flex;
    width: 70%;
    height: 5rem;
    border: 0.1rem solid var(--color-gray);
    &--label {
      height: 100%;
      display: flex;
      align-items: center;
      gap: 1.6rem;
      padding: 0 2.4rem;
      &::after {
        content: "";
        width: 0.1rem;
        height: 44%;
        background-color: var(--color-gray);
      }
    }
    &--input {
      border: none;
      flex: 1;
      &:focus {
        outline: none;
      }
    }
    &--btn {
      padding: 1.6rem;
      border: none;
      background-color: var(--color-primary);
      cursor: pointer;
    }
  }
}
