:root {
  --color-primary: #849d6a;
  --color-primary-dark: #41544a;
  --color-secondry: #b04d50;
  --color-gray: #ebebeb;
}

@font-face {
  font-family: "b-traffic-regular";
  src: url("./../fonts/B-Traffic.ttf");
}
@font-face {
  font-family: "b-traffic-bold";
  src: url("./../fonts/B-Traffic-Bold.ttf");
}
@font-face {
  font-family: "iransans";
  src: url("./../fonts/IRANSans.ttf");
}
@font-face {
  font-family: "iransans-bold";
  src: url("./../fonts/IRANSans_Bold.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: iransans;
}
body {
  font-size: 1.6rem;
}
.container {
  width: 95vw;
  margin: 0 auto;
}
.main {
  display: flex;
  flex-direction: column;
  gap: 9.5rem;
}
.header {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  padding: 2.9rem 0.5rem;
  gap: 3.7rem;
  align-items: center;
  &__icons {
    display: flex;
    gap: 2.4rem;
    align-items: center;
    &--cart,
    &--heart,
    &--user {
      width: 2.4rem;
      height: 2.4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      & svg {
        height: 100%;
        width: 100%;
      }
    }
    &--cart,
    &--heart {
      position: relative;
      &::after {
        content: "3";
        width: 1.9rem;
        height: 1.9rem;
        background-color: var(--color-primary);
        border-radius: 50%;
        color: #fff;
        font-size: 1rem;
        font-family: b-traffic-regular;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -30%;
        left: -30%;
      }
    }
    &--heart::after {
      content: "2";
    }
  }
  &__search {
    display: flex;
    width: 70%;
    height: 5rem;
    border: 0.1rem solid var(--color-gray);
    &--label {
      height: 100%;
      display: flex;
      align-items: center;
      gap: 1.6rem;
      padding: 0 2.4rem;
      font-weight: 700;
      & svg {
        width: 1rem;
        height: 1rem;
      }
      &::after {
        content: "";
        width: 0.1rem;
        height: 44%;
        background-color: var(--color-gray);
      }
    }
    &--input {
      border: none;
      flex: 1;
      &:focus {
        outline: none;
      }
    }
    &--btn {
      padding: 1.6rem;
      border: none;
      background-color: var(--color-primary);
      cursor: pointer;
      & svg {
        fill: #fff;
        width: 2rem;
        height: 2rem;
      }
    }
  }
}
.hero {
  display: grid;
  grid-template-columns: 30rem 1fr;
  grid-template-rows: 5rem max-content 25rem;
  column-gap: 3rem;
  row-gap: 1.5rem;
  position: relative;
  &::before {
    content: "";
    width: 100%;
    height: 0.1rem;
    position: absolute;
    background-color: var(--color-gray);
    top: -1rem;
  }
  &__aside {
    grid-column: 1/2;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    &--header {
      width: 100%;
      height: 5rem;
      display: flex;
      gap: 2.4rem;
      background-color: var(--color-primary);
      padding: 1.6rem;
      align-items: center;
      font-weight: 700;
      color: #fff;
      &-menu {
        width: 2rem;
        height: 0.1rem;
        background-color: #fff;
        position: relative;
        &::after,
        &::before {
          content: "";
          width: 120%;
          height: 100%;
          background-color: #fff;
          position: absolute;
        }
        &::after {
          top: -0.8rem;
        }
        &::before {
          bottom: -0.8rem;
        }
      }
      &-icon {
        margin-right: auto;
        fill: #fff;
        width: 0.8rem;
      }
    }
    &--lists {
      width: 100%;
      list-style: none;
      &-item {
        padding: 1.6rem;
        border: 0.1rem solid var(--color-gray);
        display: flex;
        align-items: center;
        height: 5rem;
        & a:link,
        & a:visited {
          text-decoration: none;
          display: flex;
          align-items: center;
          gap: 2.4rem;
          color: #000;
          width: 100%;
        }
      }
      &-icon {
        width: 2rem;
        height: 2rem;
      }
      &-chevron {
        width: 1rem;
        height: 1rem;
        transform: rotate(90deg);
        margin-right: auto;
      }
      &-item-active {
        & a:link,
        & a:visited {
          color: var(--color-primary);
        }
        & svg {
          fill: var(--color-primary);
        }
      }
    }
  }
  &__nav {
    grid-column: 2/-1;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    &--lists {
      display: flex;
      list-style: none;
      gap: 2.4rem;
      font-weight: 700;
      width: 100%;
      &-item {
        & a:link,
        & a:visited {
          text-decoration: none;
          color: #000;
        }
      }
      &-item-active {
        position: relative;
        &::after {
          content: "";
          width: 100%;
          height: 0.4rem;
          position: absolute;
          background-color: var(--color-primary);
          top: -2.3rem;
          left: 0;
          border-radius: 10rem;
        }
        & a:link,
        & a:visited {
          color: var(--color-primary);
        }
      }
      &-item:last-child {
        margin-right: auto;
        & a:visited,
        & a:link {
          display: flex;
          gap: 1.6rem;
        }
      }
      &-item-icon {
        width: 2rem;
        height: 2rem;
      }
    }
  }
  &__image {
    grid-column: 2/-1;
    grid-row: 2/3;
    height: 100%;
    background: url("./../images/hero-image.png");
    background-size: 100%;
    position: relative;
    display: flex;
    align-items: center;
    &--icons {
      width: 4.5rem;
      height: 4.5rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: #fff;
      cursor: pointer;
      border: solid 0.1rem #fff;
      & svg {
        width: 1rem;
        height: 1rem;
      }
    }
    &--next {
      right: 2%;
      & svg {
        transform: rotate(-90deg);
      }
    }
    &--prev {
      left: 2%;
      border: solid 0.1rem var(--color-primary);
      & svg {
        transform: rotate(90deg);
        fill: var(--color-primary);
      }
    }

    &--content {
      transform: translateX(-20%);
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
      &-sub-title {
        font-weight: 700;
        font-size: 1.6rem;
        color: var(--color-primary-dark);
      }
      &-text {
        width: 52%;
        margin-bottom: 3.2rem;
      }
    }
  }
  &__ads {
    display: flex;
    justify-content: space-between;
    grid-row: 3/-1;
    grid-column: 1/-1;
    height: 100%;
    &--item {
      width: 58rem;
      padding: 0 3.2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2.4rem;
      &-1 {
        background: url("./../images/ads-1.png");
        background-size: cover;
        &-sub-title {
          color: #fff;
        }
        &-title {
          color: #fff;
        }
      }
      &-2 {
        background: url("./../images/ads-2.png");
        background-size: cover;
        &-sub-title {
          color: #121212;
        }
        &-title {
          color: #121212;
          span {
            font-size: 2rem;
            color: #e68588;
            font-weight: 100;
          }
        }
      }
      &-3 {
        background: url("./../images/ads-3.png");
        background-size: cover;

        &-title {
          color: #121212;
          width: 30% !important;
        }
      }
      &-sub-title {
        font-size: 1.2rem;
      }
      &-title {
        font-size: 2.5rem;
        width: 45%;
      }
    }
  }
}
.features {
  display: flex;
  justify-content: space-between;
  &__item {
    width: 35rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--icons {
      position: relative;
      &-bg {
        width: 8.5rem;
        height: 8.5rem;
        background-color: var(--color-secondry);
        border-radius: 50%;
        opacity: 0.1;
        position: absolute;
      }
      &-icon {
        margin-right: 4rem;
      }
    }
    &--content {
      width: 63%;
      &-text {
        font-size: 1.3rem;
        color: #4f4f4f;
      }
    }
  }
}
.sales {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__icon {
    border: 0.1rem solid #ebebeb;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    & svg {
      width: 1rem;
      height: 1rem;
    }
  }
  &__next {
    border: 0.1rem solid var(--color-secondry);
    & svg {
      transform: rotate(-90deg);
      fill: var(--color-secondry);
    }
  }
  &__prev {
    & svg {
      transform: rotate(90deg);
    }
  }

  &__container {
    height: 49.5rem;
    border: 0.2rem solid var(--color-secondry);
    width: 93%;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 3.6rem;
    &--notif {
      position: absolute;
      top: 0;
      right: 10%;
      padding: 0 1.6rem;
      background-color: #fff;
      display: flex;
      align-items: center;
      gap: 2.4rem;
      transform: translateY(-50%);
      &-title {
        font-weight: 700;
        font-size: 2.4rem;
      }
      &-time {
        color: #fff;
        height: 4rem;
        width: 21rem;
        background-color: var(--color-secondry);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.8rem;
        border-radius: 3rem;
      }
    }
    &--item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 23rem;
      // height: 90%;
      position: relative;
      &-heart {
        position: absolute;
        top: -2%;
        right: -2%;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0.1rem solid var(--color-secondry);
        background-color: #fff;
        cursor: pointer;
        & svg {
          width: 1.6rem;
          height: 1.6rem;
          stroke: var(--color-secondry);
        }
      }
      &-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        &-text {
          margin-top: 1.6rem;
        }
        &-info {
          font-weight: 100;
          font-size: 1.4rem;
          // width: 70%;
          text-align: center;
          margin-top: 1.6rem;
        }
        &-stars {
          display: flex;
          gap: 0.4rem;
          align-items: center;
          & svg {
            stroke: var(--color-secondry);
            fill: var(--color-secondry);
            height: 1.1rem;
            width: 1.1rem;
            &:first-child {
              fill: #fff;
            }
          }
        }
      }
      &-price {
        font-family: b-traffic-bold;
        font-size: 1.8rem;
        color: #b04d50;
        &-sale {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          &-del {
            font-size: 1.5rem;
            font-family: b-traffic-regular;
            color: #4f4f4f;
          }
        }
      }
      &-button {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.6rem;
        height: 4.5rem;
        color: #fff;
        background-color: var(--color-secondry);
        border-radius: 0.4rem;
        border: none;
        font-family: iransans-bold;
        cursor: pointer;
        & svg {
          width: 1.8rem;
          height: 1.8rem;
          fill: #fff;
        }
      }
      &-details {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        &-process {
          height: 0.6rem;
          border-radius: 3rem;
          background-color: #ebebeb;
          position: relative;
          &::after {
            content: "";
            width: 60%;
            height: 100%;
            background-color: var(--color-secondry);
            position: absolute;
            border-radius: 3rem;
            top: 0;
            right: 0;
          }
        }
        &-sale {
          font-size: 1.3rem;
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}

.heading-primary {
  color: var(--color-primary-dark);
  font-weight: 700;
  font-size: 6rem;
}
.heading-secondry {
  color: var(--color-primary);
  font-weight: 100;
  font-size: 6rem;
}
.text-bold {
  font-size: 1.6rem;
  font-weight: 700;
}
.main-button {
  border-radius: 0.4rem;
  width: 15.4rem;
  height: 5rem;
  color: #fff;
  background-color: var(--color-primary);
  border: none;
  font-weight: 700;
  cursor: pointer;
}
.main-button-dark {
  background-color: var(--color-primary-dark);
}
.link-button {
  font-size: 1.4rem;
  background-color: transparent;
  color: #fff;
  position: relative;
  border: none;
  align-self: flex-start;
  cursor: pointer;
  &::after {
    content: "";
    width: 80%;
    height: 0.1rem;
    background-color: #fff;
    border-radius: 10rem;
    position: absolute;
    bottom: -0.6rem;
    right: 0;
  }
}
.link-button-primary {
  color: var(--color-primary);
  &::after {
    background-color: var(--color-primary);
  }
}
