:root {
  --color-primary: #849d6a;
  --color-primary-dark: #41544a;
  --color-gray: #ebebeb;
}

@font-face {
  font-family: "b-traffic-regular";
  src: url("./../fonts/B-Traffic.ttf");
}
@font-face {
  font-family: "b-traffic-bold";
  src: url("./../fonts/B-Traffic.ttf");
}
@font-face {
  font-family: "iransans";
  src: url("./../fonts/IRANSans.ttf");
}
@font-face {
  font-family: "iransans-bold";
  src: url("./../fonts/IRANSans_Bold.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: iransans;
}

body {
  font-size: 1.6rem;
}

.container {
  width: 95vw;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 9.5rem;
}

.header {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  padding: 2.9rem 0.5rem;
  gap: 3.7rem;
  align-items: center;
}
.header__icons {
  display: flex;
  gap: 2.4rem;
  align-items: center;
}
.header__icons--cart, .header__icons--heart, .header__icons--user {
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.header__icons--cart svg, .header__icons--heart svg, .header__icons--user svg {
  height: 100%;
  width: 100%;
}
.header__icons--cart, .header__icons--heart {
  position: relative;
}
.header__icons--cart::after, .header__icons--heart::after {
  content: "3";
  width: 1.9rem;
  height: 1.9rem;
  background-color: var(--color-primary);
  border-radius: 50%;
  color: #fff;
  font-size: 1rem;
  font-family: b-traffic-regular;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -30%;
  left: -30%;
}
.header__icons--heart::after {
  content: "2";
}
.header__search {
  display: flex;
  width: 70%;
  height: 5rem;
  border: 0.1rem solid var(--color-gray);
}
.header__search--label {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding: 0 2.4rem;
  font-weight: 700;
}
.header__search--label svg {
  width: 1rem;
  height: 1rem;
}
.header__search--label::after {
  content: "";
  width: 0.1rem;
  height: 44%;
  background-color: var(--color-gray);
}
.header__search--input {
  border: none;
  flex: 1;
}
.header__search--input:focus {
  outline: none;
}
.header__search--btn {
  padding: 1.6rem;
  border: none;
  background-color: var(--color-primary);
  cursor: pointer;
}
.header__search--btn svg {
  fill: #fff;
  width: 2rem;
  height: 2rem;
}

.hero {
  display: grid;
  grid-template-columns: 30rem 1fr;
  grid-template-rows: 5rem max-content 25rem;
  column-gap: 3rem;
  row-gap: 1.5rem;
  position: relative;
}
.hero::before {
  content: "";
  width: 100%;
  height: 0.1rem;
  position: absolute;
  background-color: var(--color-gray);
  top: -1rem;
}
.hero__aside {
  grid-column: 1/2;
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.hero__aside--header {
  width: 100%;
  height: 5rem;
  display: flex;
  gap: 2.4rem;
  background-color: var(--color-primary);
  padding: 1.6rem;
  align-items: center;
  font-weight: 700;
  color: #fff;
}
.hero__aside--header-menu {
  width: 2rem;
  height: 0.1rem;
  background-color: #fff;
  position: relative;
}
.hero__aside--header-menu::after, .hero__aside--header-menu::before {
  content: "";
  width: 120%;
  height: 100%;
  background-color: #fff;
  position: absolute;
}
.hero__aside--header-menu::after {
  top: -0.8rem;
}
.hero__aside--header-menu::before {
  bottom: -0.8rem;
}
.hero__aside--header-icon {
  margin-right: auto;
  fill: #fff;
  width: 0.8rem;
}
.hero__aside--lists {
  width: 100%;
  list-style: none;
}
.hero__aside--lists-item {
  padding: 1.6rem;
  border: 0.1rem solid var(--color-gray);
  display: flex;
  align-items: center;
  height: 5rem;
}
.hero__aside--lists-item a:link, .hero__aside--lists-item a:visited {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 2.4rem;
  color: #000;
  width: 100%;
}
.hero__aside--lists-icon {
  width: 2rem;
  height: 2rem;
}
.hero__aside--lists-chevron {
  width: 1rem;
  height: 1rem;
  transform: rotate(90deg);
  margin-right: auto;
}
.hero__aside--lists-item-active a:link, .hero__aside--lists-item-active a:visited {
  color: var(--color-primary);
}
.hero__aside--lists-item-active svg {
  fill: var(--color-primary);
}
.hero__nav {
  grid-column: 2/-1;
  grid-row: 1/2;
  display: flex;
  align-items: center;
}
.hero__nav--lists {
  display: flex;
  list-style: none;
  gap: 2.4rem;
  font-weight: 700;
  width: 100%;
}
.hero__nav--lists-item a:link, .hero__nav--lists-item a:visited {
  text-decoration: none;
  color: #000;
}
.hero__nav--lists-item-active {
  position: relative;
}
.hero__nav--lists-item-active::after {
  content: "";
  width: 100%;
  height: 0.4rem;
  position: absolute;
  background-color: var(--color-primary);
  top: -2.3rem;
  left: 0;
  border-radius: 10rem;
}
.hero__nav--lists-item-active a:link, .hero__nav--lists-item-active a:visited {
  color: var(--color-primary);
}
.hero__nav--lists-item:last-child {
  margin-right: auto;
}
.hero__nav--lists-item:last-child a:visited, .hero__nav--lists-item:last-child a:link {
  display: flex;
  gap: 1.6rem;
}
.hero__nav--lists-item-icon {
  width: 2rem;
  height: 2rem;
}
.hero__image {
  grid-column: 2/-1;
  grid-row: 2/3;
  height: 100%;
  background: url("./../images/hero-image.png");
  background-size: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.hero__image--icons {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  cursor: pointer;
  border: solid 0.1rem #fff;
}
.hero__image--icons svg {
  width: 1rem;
  height: 1rem;
}
.hero__image--next {
  right: 2%;
}
.hero__image--next svg {
  transform: rotate(-90deg);
}
.hero__image--prev {
  left: 2%;
  border: solid 0.1rem var(--color-primary);
}
.hero__image--prev svg {
  transform: rotate(90deg);
  fill: var(--color-primary);
}
.hero__image--content {
  transform: translateX(-20%);
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.hero__image--content-sub-title {
  font-weight: 700;
  font-size: 1.6rem;
  color: var(--color-primary-dark);
}
.hero__image--content-text {
  width: 52%;
  margin-bottom: 3.2rem;
}
.hero__ads {
  display: flex;
  justify-content: space-between;
  grid-row: 3/-1;
  grid-column: 1/-1;
  height: 100%;
}
.hero__ads--item {
  width: 58rem;
  padding: 0 3.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.4rem;
}
.hero__ads--item-1 {
  background: url("./../images/ads-1.png");
  background-size: cover;
}
.hero__ads--item-1-sub-title {
  color: #fff;
}
.hero__ads--item-1-title {
  color: #fff;
}
.hero__ads--item-2 {
  background: url("./../images/ads-2.png");
  background-size: cover;
}
.hero__ads--item-2-sub-title {
  color: #121212;
}
.hero__ads--item-2-title {
  color: #121212;
}
.hero__ads--item-2-title span {
  font-size: 2rem;
  color: #e68588;
  font-weight: 100;
}
.hero__ads--item-3 {
  background: url("./../images/ads-3.png");
  background-size: cover;
}
.hero__ads--item-3-title {
  color: #121212;
  width: 30% !important;
}
.hero__ads--item-sub-title {
  font-size: 1.2rem;
}
.hero__ads--item-title {
  font-size: 2.5rem;
  width: 45%;
}

.features {
  display: flex;
  justify-content: space-between;
}
.features__item {
  width: 35rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.features__item--icons {
  position: relative;
}
.features__item--icons-bg {
  width: 8.5rem;
  height: 8.5rem;
  background-color: #b04d50;
  border-radius: 50%;
  opacity: 0.1;
  position: absolute;
}
.features__item--icons-icon {
  margin-right: 4rem;
}
.features__item--content {
  width: 63%;
}
.features__item--content-text {
  font-size: 1.3rem;
  color: #4f4f4f;
}

.heading-primary {
  color: var(--color-primary-dark);
  font-weight: 700;
  font-size: 6rem;
}

.heading-secondry {
  color: var(--color-primary);
  font-weight: 100;
  font-size: 6rem;
}

.text-bold {
  font-size: 1.6rem;
  font-weight: 700;
}

.main-button {
  border-radius: 0.4rem;
  width: 15.4rem;
  height: 5rem;
  color: #fff;
  background-color: var(--color-primary);
  border: none;
  font-weight: 700;
  cursor: pointer;
}

.main-button-dark {
  background-color: var(--color-primary-dark);
}

.link-button {
  font-size: 1.4rem;
  background-color: transparent;
  color: #fff;
  position: relative;
  border: none;
  align-self: flex-start;
  cursor: pointer;
}
.link-button::after {
  content: "";
  width: 80%;
  height: 0.1rem;
  background-color: #fff;
  border-radius: 10rem;
  position: absolute;
  bottom: -0.6rem;
  right: 0;
}

.link-button-primary {
  color: var(--color-primary);
}
.link-button-primary::after {
  background-color: var(--color-primary);
}

/*# sourceMappingURL=style.css.map */
