@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
:root {
  --color-primary: #849d6a;
  --color-gray: #ebebeb;
}

@font-face {
  font-family: "b-traffic-regular";
  src: url("./../fonts/B-Traffic.ttf");
}
@font-face {
  font-family: "b-traffic-bold";
  src: url("./../fonts/B-Traffic.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
}

body {
  font-size: 1.6rem;
  width: 95vw;
  margin: 0 auto;
}

.header {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  padding: 2.9rem 0.5rem;
  gap: 3.7rem;
  align-items: center;
}
.header__icons {
  display: flex;
  gap: 2.4rem;
  align-items: center;
}
.header__icons--cart, .header__icons--heart, .header__icons--user {
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.header__icons--cart, .header__icons--heart {
  position: relative;
}
.header__icons--cart::after, .header__icons--heart::after {
  content: "3";
  width: 1.9rem;
  height: 1.9rem;
  background-color: var(--color-primary);
  border-radius: 50%;
  color: #fff;
  font-size: 1rem;
  font-family: b-traffic-regular;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -30%;
  left: -30%;
}
.header__icons--heart::after {
  content: "2";
}
.header__search {
  display: flex;
  width: 70%;
  height: 5rem;
  border: 0.1rem solid var(--color-gray);
}
.header__search--label {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding: 0 2.4rem;
  font-family: "Lato";
  font-weight: 700;
}
.header__search--label svg {
  width: 1rem;
}
.header__search--label::after {
  content: "";
  width: 0.1rem;
  height: 44%;
  background-color: var(--color-gray);
}
.header__search--input {
  border: none;
  flex: 1;
}
.header__search--input:focus {
  outline: none;
}
.header__search--btn {
  padding: 1.6rem;
  border: none;
  background-color: var(--color-primary);
  cursor: pointer;
}
.header__search--btn svg {
  fill: #fff;
  width: 2rem;
  height: 2rem;
}

.hero {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: max-content 1fr;
  gap: 3rem;
  height: 100vh;
}
.hero__aside {
  grid-column: 1/2;
  grid-row: 1/-1;
  width: 30rem;
}
.hero__aside--header {
  width: 100%;
  height: 5rem;
  display: flex;
  gap: 2.4rem;
  background-color: var(--color-primary);
  padding: 1.6rem;
  align-items: center;
  font-family: "Lato";
  font-weight: 700;
  color: #fff;
}
.hero__aside--header-menu {
  width: 2rem;
  height: 0.1rem;
  background-color: #fff;
  position: relative;
}
.hero__aside--header-menu::after, .hero__aside--header-menu::before {
  content: "";
  width: 120%;
  height: 100%;
  background-color: #fff;
  position: absolute;
}
.hero__aside--header-menu::after {
  top: -0.8rem;
}
.hero__aside--header-menu::before {
  bottom: -0.8rem;
}
.hero__aside--header-icon {
  margin-right: auto;
  fill: #fff;
  width: 0.8rem;
}
.hero__aside--lists {
  width: 100%;
  height: 5rem;
  list-style: none;
}
.hero__nav {
  grid-column: 2/-1;
  grid-row: 1/2;
  background-color: red;
  height: 20rem;
}
.hero__image {
  grid-column: 2/-1;
  grid-row: 2/-1;
  background-color: black;
}

/*# sourceMappingURL=style.css.map */
